:root {
    --primary-color: #134266; /* Dark blue */
    --secondary-color: #78C5D7; /* Light blue */
    --text-color: #ffffff; /* White */
    --background-color: #f5f5f5; /* Light gray background */
}

/* General Styles */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--primary-color); /* Text color */
    background-color: var(--background-color); /* Page background */
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-color);
    color: var(--primary-color);
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo img {
    max-width: 150px;
    margin-bottom: 10px;
}

header img {
    max-width: 150px;
}

header h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    margin: 0;
}

nav {
    color: var(--primary-color);
    text-align: center;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: var(--highlight-color);
    font-weight: normal;
    margin: 0 10px;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
}

nav a:hover {
    color: #FCE172;
}

/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    padding: 150px 20px;
    position: relative;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: url('../images/canyon.jpg') no-repeat center center/cover;
    height: 100vh;
}

/* Hero Content */
.hero-content {
    padding: 20px 30px;
    border-radius: 5px;
    max-width: 800px;
    
    
}

.hero-content h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/* Hero Article */
.hero article {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9); /* Light background for content */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin-top: 20px;
    opacity: 0.75;
}

.hero article img {
    float: right;
    width: 120px;
    height: auto;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hero article p {
    font-size: 1rem;
    text-align: justify;
    margin: 0;
    color: #134266;
}


section {
    background-color: var(--text-color);
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

section h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-align: center;
}

section p {
    text-align: justify;
}

section img {
    width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

footer a:hover {
    color: var(--highlight-color);
}

footer .sociallinks {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    text-decoration: none;
}

footer .sociallinks a {
    display: inline-block;
    text-decoration: none;
}

footer .sociallinks img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 1px 10px;
}

footer .sociallinks img:hover {
    transform: scale(1.1);
}
